<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <meta charset="UTF-8">
  <title>Board</title>
  <style>
    .home_up {
      background: #fd9901;
    }
    nav {
      flex: 1;
      text-align: right;
    }
    nav ul {
      display: inline-block;
      list-style-type: none;
    }
    nav ul li {
      display: inline-block;
      margin-right: 20px;
    }
    a {
      color: #563434;
    }
    h1 {
      color: #2a2a38;
    }
    .log_block{
      right: 0%;
    }
  </style>
</head>
<body>
<div class="home_up">
  <h1><b><l><font face="DFKai-sb">書籍留言板</font></l></b></h1>
  <nav>
    <ul class="log_block">
      <li>
        <h3>Hi,</h3>
      </li>
      <li>
        <p th:text="${name}"></p>
      </li>
      <li class="nav-item">
        <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
      </li>
    </ul>
  </nav>
</div>

<div class="1">
  <h1>Home Page</h1>

</div>

</body>
</html>